infrastructure/zigbee2mqtt/data/*

infrastructure/mosquitto/data/*
infrastructure/mosquitto/log/*

build/
*.o
*.out

.DS_Store

# Editor Noise
*.sw
*~

*.cmake

# Ignore backups
*.backup
*_backup_*.yml
*_backup_*.yaml
*.old

#ignore clangd cache files 
*.idx
.cache/clangd/index/*
