
QMainWindow, QScrollArea {
    background: black;
}

/* QScrollArea QWidget{
    background-color: transparent;
} */

SmartLightWidget {
    background: #2b2b2b;
    border-radius: 15px;

}

SmartLightWidget QPushButton {
    color: white;
    background-color: #d32f2f; 
    border-radius: 15px;     
    border: none;             
    padding: 10px;             
}

SmartLightWidget QPushButton:checked {
    background: #006400;
}

SmartLightWidget QLabel {
    color: white;
}


